@font-face {
  font-family: "VanillaCreamOX-Regular";
  src: url("assets/VanillaCreamOx-Regular.otf") format("opentype");
}

@font-face {
  font-family: "FriendsZ-Regular";
  src: url("assets/FriendsZ-Regular.ttf") format("truetype"); 
}

html, body { height: 100%; margin: 0; }
body {
  font-family: "VanillaCreamOX-Regular", sans-serif; /* 回退字体在这里 */
  background: #ffffff;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url("assets/monoeraser.png") 24 24, auto;
}
.wrap {
  max-width: 760px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

h1 { 
  font-size: 100px; 
  font-weight: 5000; 
  margin: 0 0 12px; }

p {
  font-family: "FriendsZ-Regular";
  font-size: 30px;
  line-height: 1;
  margin: 4px 0;
  display: block;
}

a { color: inherit; }
a.keyword { text-decoration: underline; text-underline-offset: 3px; }

a, a:hover, a:focus, a:active {
  cursor: url("assets/eraser48.png") 24 24, auto; 
}


a.keyword{
  position: relative;
  display: inline-block;
  transition: color .2s ease, opacity .2s ease, text-decoration-color .2s ease;
}

a.keyword.erased{
  color: transparent;                 
  opacity: .1;                        
  text-decoration-color: transparent; 
}

.back-home {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.back-home a {
  font-family: "FriendsZ-Regular";
  font-size: 20px;
  color: #111;
  text-decoration: none;
  cursor: url("assets/eraser48.png") 24 24, auto;
  transition: opacity 0.2s ease;
}

.back-home a:hover {
  text-decoration: underline;
  opacity: 0.6;
}